## Megan Hoeksema

## Comp4448 DS Tools 2

## Assignment: Rule Based Classification

### Packages

In [1]:
from math import log2
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

## Question 1

You are provided with the following training data set.The data is to be used to predict whether individuals will cheat in filing their taxes or not. The attributes are refund, indicating whether an individual received tax refund or not, marital_status indicating whether the individual is married, single, or divorced, the income_above_80k, indicating whether an individual’s taxable income is above $80,000 or not. The output variable, cheat, is a binary variable indicating whether an individual cheated in filing taxes or not.

In [2]:
refund = ['yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no']
marital_status = ['single', 'married', 'single', 'married', 'divorced', 'married', 'divorced', 'single', 'married', 'single']
income_above_80k = ['yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes']
cheat = ['no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes']

zipped = zip(refund, marital_status, income_above_80k, cheat)
data = pd.DataFrame(zipped, columns=['refund', 'marital_status', 'income_above_80k', 'cheat'])
data

  refund marital_status income_above_80k cheat
0    yes         single              yes    no
1     no        married              yes    no
2     no         single               no    no
3    yes        married              yes    no
4     no       divorced              yes   yes
5     no        married               no    no
6    yes       divorced              yes    no
7     no         single              yes   yes
8     no        married               no    no
9     no         single              yes   yes

## Question 1a

Write an IF-THEN rule derived from this decision tree, that can be used to classify instances in the data suppose your desire is to predict “yes” for the output variable.

if refund = no and income_above_80k = yes and marital_status = single or divorced, predict yes

## Question 1b

In code, create a function with an if-else statement to implement the rule you wrote above in question 1a. You can name the function predict. The function takes the input data and returns a vector of predicted output values. You can decide if you want your function’s input data argument to be a numpy array or a data frame, ,then structure your function body to process the input data accordingly. Provide some brief document of your function. You can loop through each instance in the input data and assess whether the instance satisfies the rule for predicting “yes” or not. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0.

In [3]:
def predict(row):
    for value in row:
        if (row['marital_status'] == 'divorced') & (row['income_above_80k'] == 'yes') & (row['refund'] == 'no'):
            return 1
        elif (row['marital_status'] == 'single') & (row['income_above_80k'] == 'yes') & (row['refund'] == 'no'):
            return 1
        else: 
            return 0

## Question 1c

Create another function that implements the rule for predicting “yes” for the output, but this time, you will not use if-else statement or a loop. Rather use numpy arrays, matrices or vector to vectorize your code for faster and more efficient implementation. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0. You can use logical operators for such implementation to compare values of test instances to values of attributes in the rule. This function still takes the input data and returns a vector of predicted values. You can call this function vectorized_predict.

In [4]:
def vectorized_predict(row):
    vector = np.where((row['marital_status'] == 'divorced') & 
                                          (row['income_above_80k'] == 'yes') & 
                                          (row['refund'] == 'no'), 1, np.where((row['marital_status'] == 'single') & 
                                                                               (row['income_above_80k'] == 'yes') & 
                                                                               (row['refund'] == 'no'), 1, 0))
    return vector

## Question 1d

Select the input data (refund, marital_status, income_above_80k) in the training data and apply your predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values.

In [5]:
data['predict'] = data.apply(predict, axis=1)

col_list = data.predict.values.tolist()
col_list

[0, 0, 0, 0, 1, 0, 0, 1, 0, 1]

## Question 1e

Select the input data (refund, marital_status, income_above_80k) in the training data and apply your vectorized_predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values. Are the predicted values with the vectorized_predict function the same as the predicted values obtained through the predict function? (you should have the same results).

In [6]:
print(vectorized_predict(data))

[0 0 0 0 1 0 0 1 0 1]

## Question 1f

Include the predicted values as a column to the training data and name that column predicted_cheat.

In [7]:
data = data.drop(columns = ['predict'])

data['predicted_cheat'] = vectorized_predict(data)

data

  refund marital_status income_above_80k cheat  predicted_cheat
0    yes         single              yes    no                0
1     no        married              yes    no                0
2     no         single               no    no                0
3    yes        married              yes    no                0
4     no       divorced              yes   yes                1
5     no        married               no    no                0
6    yes       divorced              yes    no                0
7     no         single              yes   yes                1
8     no        married               no    no                0
9     no         single              yes   yes                1

## Question 1g

Create a function that computes the overall accuracy of the classification. You can call this function overall_accuracy. The function should take two arguments, a vector of  actual output values and a vector of predicted output values, then returns the classification accuracy. Inside the function, you can use boolean logic to compare the actual and predicted values, then count the proportion of how many predicted values are equal to the actual values to get the overall accuracy.

In [8]:
def overall_accuracy(col1, col2):
    vector = np.where((col1== 'no') & (col2 == 0), 1, 
                      np.where((col1 == 'yes') & (col2 == 1), 1, 0))
    
    return(np.mean(vector)*100)

print('Overall Accuracy: ' + str(overall_accuracy(data['cheat'], data['predicted_cheat'])))

Overall Accuracy: 100.0

## Question 1h

Create a confusion matrix using the predicted and actual output values. You can use pandas crosstab function.

In [9]:
conf_matrix = pd.crosstab(data['cheat'], data['predicted_cheat'])
conf_matrix

predicted_cheat  0  1
cheat
no               7  0
yes              0  3

## Question 1i

Supose the test set data is as follows.

In [10]:
refund = ['no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes']
marital_status = ['single', 'single', 'married', 'divorced','married', 'single', 'single', 'single', 'married', 'single']
income_above_80k = ['yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
cheat = ['no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes']

zipped = zip(refund, marital_status, income_above_80k, cheat)
data2 = pd.DataFrame(zipped, columns=['refund', 'marital_status', 'income_above_80k', 'cheat'])
data2

  refund marital_status income_above_80k cheat
0     no         single              yes    no
1     no         single              yes    no
2     no        married              yes    no
3     no       divorced               no    no
4     no        married              yes    no
5     no         single              yes    no
6    yes         single              yes    no
7     no         single              yes   yes
8    yes        married              yes   yes
9    yes         single               no   yes

Apply the vectorized_predict function to the input of the test dataset to predict the output values for the test dataset. Include these predicted values as a column to the test dataset and called this column predicted_cheat.

In [11]:
data2['predicted_cheat'] = vectorized_predict(data2)

data2

  refund marital_status income_above_80k cheat  predicted_cheat
0     no         single              yes    no                1
1     no         single              yes    no                1
2     no        married              yes    no                0
3     no       divorced               no    no                0
4     no        married              yes    no                0
5     no         single              yes    no                1
6    yes         single              yes    no                0
7     no         single              yes   yes                1
8    yes        married              yes   yes                0
9    yes         single               no   yes                0

## Question 1j

Apply the overall_accuracy function to the predicted out values and actual output values of the test set to compute the overall accuracy. Compare the overall accuracy of the test set and that of the training set. Is there overfitting? Why or why not? If there is overfitting, what would you do to avoid overfitting the rule to the training set?

In [12]:
print('Overall Accuracy: ' + str(overall_accuracy(data2['cheat'], data2['predicted_cheat'])))

Overall Accuracy: 50.0

Yes, overfitting is occuring. You can see this because the accuracy of the training set is 100% and the accuracy of the test set is 50%. In order to avoid overfitting, we would need to be less specific in the rule described. For instance, we would need to sacrifice the accuracy of the training set to increase the accuracy of the test set.

## Question 2

You will use the same training dataset provided in question 1. Suppose we wanted to create one rule using only one attribute that best classifies the input data, you will need to write a function or an algorithm to find that best attribute. There are different approaches we can use to evaluate the best attritubute that will classify our data with the highest accuracy. One of the accuracy measures we can use to find the best attribute is information gain, which uses entropy.

In [13]:
data = data.drop(columns = ['predicted_cheat'])

data

  refund marital_status income_above_80k cheat
0    yes         single              yes    no
1     no        married              yes    no
2     no         single               no    no
3    yes        married              yes    no
4     no       divorced              yes   yes
5     no        married               no    no
6    yes       divorced              yes    no
7     no         single              yes   yes
8     no        married               no    no
9     no         single              yes   yes

In [14]:
data2 = data2.drop(columns = ['predicted_cheat'])

data2

  refund marital_status income_above_80k cheat
0     no         single              yes    no
1     no         single              yes    no
2     no        married              yes    no
3     no       divorced               no    no
4     no        married              yes    no
5     no         single              yes    no
6    yes         single              yes    no
7     no         single              yes   yes
8    yes        married              yes   yes
9    yes         single               no   yes

## Question 2a

Given the training dataset in question 1, write a function that computes the entropy of output variable. The function should take the entire training dataset, and the name of the output variable as arguments and return the entropy value. You can call the function, entropy. 

Apply the entropy function to the training dataset to compute the entropy. Do you think the data is more pure, less pure or more/less pure?

In [15]:
def entropy(dataset, output_variable):
    p = output_variable.value_counts()['yes']/dataset.shape[0]                
    return -p * log2(p) - (1-p) * log2(1-p)

entropy(data, data['cheat'])

0.8812908992306927

The data is showing a high level of disorder, meaning low level of purity.

## Question 2b

Create another function that takes the dataset, the name of the output variable, and a specific input variable as arguments and returns the information gain for a split of the data on that specific input variable. You can call the function, information_gain. Apply the information_gain function to each input variable to compute the information gain for each input variable. Which input variables is the best (has the highest information gain) for creating one-rule?

In [16]:
def information_gain(dataset, output, input):
    p_output = output.value_counts()['yes']/dataset.shape[0]
    p_input_yes_output_yes = (sum((input == 'yes') & (output == 'yes')))/(sum((input == 'yes') & (output == 'yes')) 
                                                                          + sum((input == 'yes') & (output == 'no')))
    
    p_input_yes_output_no = (sum((input == 'yes') & (output == 'no')))/(sum((input == 'yes') & (output == 'yes')) 
                                                                         + sum((input == 'yes') & (output == 'no')))
    
    p_input_no_output_yes = (sum((input == 'no') & (output == 'yes')))/(sum((input == 'no') & (output == 'yes')) 
                                                                          + sum((input == 'no') & (output == 'no')))
    
    p_input_no_output_no = (sum((input == 'no') & (output == 'no')))/(sum((input == 'no') & (output == 'yes')) 
                                                                          + sum((input == 'no') & (output == 'no')))

    p_input_yes = input.value_counts()['yes']/dataset.shape[0]
    
    p_input_no = input.value_counts()['no']/dataset.shape[0]
    
    entropy_targ = -p_output * log2(p_output) - (1-p_output) * log2(1-p_output)

    entropy_inp_yes = -p_input_yes_output_yes * log2(p_input_yes_output_yes) - p_input_yes_output_no * log2(p_input_yes_output_no)

    entropy_inp_no = -p_input_no_output_yes * log2(p_input_no_output_yes) - p_input_no_output_no * log2(p_input_no_output_no)
    
    gain = entropy_targ - ((p_input_yes * entropy_inp_yes) + (p_input_no * entropy_inp_yes))
    print(gain)
    
information_gain(data, data['cheat'], data['refund'])

ValueError: math domain error

Calculated by hand:
refund = 0.192
marital_status = 0.281 
income_above_80k = 0.192

## Question 2c

Do a cross tabulation using the best attribute obtained in 2b above and the output variable in the training dataset.

In [17]:
conf_matrix = pd.crosstab(data['cheat'], data['marital_status'])
conf_matrix

marital_status  divorced  married  single
cheat
no                     1        4       2
yes                    1        0       2

## Question 2d

Draw a decision tree (use shapes in the word document) to show how the best variable can be used for classification. This is a decision tree with a single node or single variable.

See word document

## Question 2e

Create a one-rule from the decision tree in 2d. The rule should containing an antecedent and a consequent. The antecedent should use only the best attribute and it’s value or values.

 if marital_status = divorced or single, predict yes

## Question 2f

Using the antecedent of your rule, extract the data covered by the rule and compute the coverage of the rule.

In [18]:
coverage = ((data['marital_status'].value_counts()['divorced'] + data['marital_status'].value_counts()['single'])/
            data.shape[0])*100

coverage

60.0

## Question 2g

Using the antecedent and precedent of your rule, extract the data covered by the rule and compute the accuracy of the rule.

In [27]:
divorced = sum((data.marital_status == 'divorced') & (data.cheat == 'yes'))
single = sum((data.marital_status == 'single') & (data.cheat == 'yes'))

accuracy = ((divorced + single)/data.shape[0])*100
print(accuracy)

30.0

## Question 2h

Create a function that implents the rule as an if-else statement to predict the outcomes of any instance (a vector of values associated with the input variables for a specific individual). The function should be able to take one or more instances as an argument in the form of a dataframe or numpy arrary.

In [19]:
def vectorized_predict(row):
    vector = np.where((row['marital_status'] == 'divorced') | (row['marital_status'] == 'single'), 1, 0)
    return vector


print(vectorized_predict(data))

[1 0 1 0 1 0 1 1 0 1]

## Question 2i

Implemement the function on the training set and test set in question 1 to get the predicted outputs for the training set and test set.

In [20]:
data['predicted_cheat'] = vectorized_predict(data)

data

  refund marital_status income_above_80k cheat  predicted_cheat
0    yes         single              yes    no                1
1     no        married              yes    no                0
2     no         single               no    no                1
3    yes        married              yes    no                0
4     no       divorced              yes   yes                1
5     no        married               no    no                0
6    yes       divorced              yes    no                1
7     no         single              yes   yes                1
8     no        married               no    no                0
9     no         single              yes   yes                1

In [21]:
data2['predicted_cheat'] = vectorized_predict(data2)

data2

  refund marital_status income_above_80k cheat  predicted_cheat
0     no         single              yes    no                1
1     no         single              yes    no                1
2     no        married              yes    no                0
3     no       divorced               no    no                1
4     no        married              yes    no                0
5     no         single              yes    no                1
6    yes         single              yes    no                1
7     no         single              yes   yes                1
8    yes        married              yes   yes                0
9    yes         single               no   yes                1

## Question 2j

What is the overall prediction accuracies for the training set and test set? You can use the overall_accuracy function you initially defined.

In [22]:
print('Overall Accuracy for training: ' + str(overall_accuracy(data['cheat'], data['predicted_cheat'])))

Overall Accuracy for training: 70.0

In [23]:
print('Overall Accuracy for test: ' + str(overall_accuracy(data2['cheat'], data2['predicted_cheat'])))

Overall Accuracy for test: 40.0

## Question 2k

Do you think there is overfitting or underfitting? Why or why not?

Still overfitting potentially as the accuracy of the training is much higher than that of the test set.